/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    margin: 20px;
}

/* Estilos específicos para Bootstrap */
.card img {
    max-height: 150px;
    min-height: 50px;
}
.cart {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

