
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 40px;
        }

        h2 {
            text-align: center;
            
        }

        .login-container {
            background-color: #f1f1f1;
            text-align: left;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            max-width: 500px;
            width: 100%;
        }


        .login-container input {
            width: calc(100% - 25px);
            margin-bottom: 10px;
            padding: 10px;
            margin-right: 30px;
        }

        
        .form-group {
            max-width: 500px;
            margin-bottom: 10px;
            padding: 10px;
            margin-right: 30px;
            display: flex;
        }

        .form-group select, input{
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            margin-right: 30px;
           
        }

    
        .login-container button {
            max-width: 500px;
            width: 100%;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        
        
        