.container
{
    background-color: #f0f0f0;
    max-width: 40%;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 1em;
    justify-content: center;
    align-items: center;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }