.acordeon {
    width: 250px;
    margin-top: 10px;
}

.item {
    border: 1px solid black;
    margin-bottom: 5px;
}


.titulo {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

.contenido {
    padding: 10px;
    display: none;
    color: white;
}
.contenedor-flex {
    display: flex;
}


.contenido-derecha {
    flex: 1;
    padding: 20px;
   margin-left: 20px;
}

h2 {
color: #f1f1f1;
}

.flecha {
    float: right;
    transition: transform 0.3s ease;
}

.oculto .flecha {
    transform: rotate(90deg);
}

.tarjetas-producto {
    flex: 1; /* Las tarjetas ocupan el espacio restante */
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay espacio suficiente */
    justify-content: space-around; /* Espaciado uniforme entre las tarjetas */
}

.tarjeta {
    width: 250px; /* Ancho de cada tarjeta */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
  color: white;
}

.tarjeta img{
    width: 200px;
    height: 200px;
}