table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgb(127, 138, 241);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color:rgb(61, 75, 196);
}

.btn-edit {
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-delete{
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-danger{
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline-color: red;
}

h2{
    text-align: center;   
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 40px;
}

.clientes-container {
    background-color: #f1f1f1;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: calc(100%-20px);
    width: 100%;
}

.form-group {
    max-width:calc(100%-20px); 
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 30px;
    display: flex;
}

.form-group input {
    width: 150px;
    padding: 10px;
    margin-left: 30px;
}

.form-group button{
    margin-left: 30px;
}

.form-group label{
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.pag span{
    margin-left: 5px;
    margin-right: 5px;
}


