
footer {
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
     
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 40%;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

p {
    margin-right: 20px;
   font-size: large;
   font-style: Arial;
}