
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 40px;
        }

        .contenedor-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 15px;
            
            
        }

        .recuadro {
            flex: 1;
            height: 200px;
            margin: 10px;
            background-color: #f1f1f1;
            color: black;
            text-align: center;
            border-radius: 20px;
        }

      
        .recuadro img {
            width: 100px; 
            height: 100px; 
            object-fit: cover; 
            margin-bottom: 5px; 
            border-radius: 45%;
            margin-top: 5px;

            
        }

        .login-container {
            background-color: #f1f1f1;
            text-align: left;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            max-width: 300px;
            width: 100%;
        }

        .login-container a{
            color: blue;
            font-size: medium;
        }

        .login-container input {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            padding: 10px;
            margin-right: 30px;
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .sidebar a {
            width: 50%;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    
        .sidebar {
            flex: 0 0 30%; 
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 30px;
        }